$icon-transition-time: 1.0s;
$google-scholar-color: #4788ee;
$github-color: light-dark(#343434, #e6e6e6);
$linkedin-color: #0073a4;
$orcid-color: #a6ce39;
$bluesky-color: #6364FF;
$strava-color: #fc4c02;

@mixin social-media-icon($color, $transition) {
    transition: $transition;

    &:hover {
        color: $color;
    }
}

.icon-linkedin {
    @include social-media-icon($linkedin-color, $icon-transition-time);
}

.icon-bluesky {
    @include social-media-icon($bluesky-color, $icon-transition-time);
}

.icon-github {
    @include social-media-icon($github-color, $icon-transition-time);
}

.icon-strava {
    @include social-media-icon($strava-color, $icon-transition-time);
}

.icon-google-scholar {
    @include social-media-icon($google-scholar-color, $icon-transition-time);
}

.icon-orcid {
    @include social-media-icon($orcid-color, $icon-transition-time);
}
