* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: "Mona Sans", sans-serif;
  font-weight: 450;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #fbfbfb;
  color: #111;
  counter-reset: sidenote-counter;
  font: 1.2rem/1.6rem "Mona Sans", Arial, Helvetica, sans-serif;
  font-weight: 450;
  height: 100%;
  margin: 0;
}

h1,
h2 {
  font-style: italic;
  font-weight: 700;
}
h3 {
  font-style: italic;
  font-weight: 600;
}
h4,
h5,
h6 {
  font-style: italic;
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 2.1rem;
  font-style: normal;
  margin-top: 1.8rem;
}
h2 {
  font-size: 2rem;
  margin-top: 3.2rem;
}
h3 {
  font-size: 1.4rem;
  margin-top: 2rem;
}

p {
  position: relative;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: #629cc6;
}

blockquote {
  margin: 2rem 0 2rem 4rem;
}

blockquote footer {
  font-size: 0.9rem;
  text-align: right;
}

code {
  font-size: 0.95rem;
  font-style: normal;
  font-weight: normal;
  font-family: "Monaspace Neon", "Lucida Console", Monaco, monospace;
  white-space: pre-wrap;
}

figure {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

hr {
  background: #111;
  border: 0;
  height: 1px;
  margin: 4rem 0;
  width: 100%;
}

pre {
  font-size: 90%;
  margin-left: 2.5%;
  overflow-x: auto;
}

img {
  max-width: 100%;
}
