<h2>{{ site.title }}</h2>
<nav class="sans">
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <p><label class="menu-icon" for="menu-btn">Menu</label></p>
    <ul class="site-nav">
        <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
        <li><a href="{{ site.baseurl }}/about">About</a></li>
        <li><a href="{{ site.baseurl }}/publications">Publications</a></li>
        <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
        <li><a href="{{ site.baseurl }}/feed.xml">Feed</a></li>
    </ul>
</nav>
