<!DOCTYPE html>
<!--#if expr="$HTTP_COOKIE=/fonts\-loaded\=true/" -->
<html lang="en" class="fonts-loaded" dir="ltr">
  <!--#else -->
  <html lang="en" dir="ltr">
    <!--#endif -->

    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>{{ site.title }}</title>
      <meta
        name="description"
        content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
      />
      <link
        rel="shortcut icon"
        href="{{ site.baseurl }}/favicon.ico"
        type="image/x-icon"
      />
      <link
        href="{{ site.baseurl }}/feed.xml"
        rel="alternate"
        type="application/atom+xml"
      />
      <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}" />
      <link rel="manifest" href="{{ site.baseurl }}/manifest.json" />
      <link rel="stylesheet" href="{{ site.baseurl}}/css/style.css" />
      <link rel="stylesheet" href="{{ site.baseurl}}/css/selenized.css" />
      <link rel="stylesheet" href="{{ site.baseurl}}/css/academicons.css" />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      />
      <!-- INLINE CRITICAL CSS -->
      <style>
        {% include critical.css %}
      </style>
      <script src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-mml-chtml.min.js"></script>
    </head>

    <body></body>
  </html>
</html>
